<div class="container">
    <div class="row">
        <div class="col-sm m-3">
            <app-input-keywords [phase]="title" style="width:100%"></app-input-keywords>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 ">
            <h1>{{title|titlecase}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-tags [tags]=tags></app-tags>
        </div>
    </div>
    <div>
        <div class="gridContainer mt-2" *ngIf="items">
            <span *ngFor="let item of items">
                <div (click)="openDialog(item)" class="gridItem"><img [src]="item.urls.thumb"></div>
            </span>
        </div>
    </div>
</div>
