<div class="flexContainer">

    <button class="searchButton">
      <mat-icon  class="searchIcon" (click)="submit()" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
    </button>
    <input type="text" [formControl]="control" class="browseInput" (keydown.enter)="submit()" placeholder="Search free high-resolution photos" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" class="autocomplateClass">

        <mat-option show (click)="submit(word)" disable="true" *ngFor="let word of filteredWords | async" [value]="word">
            {{word}}
        </mat-option>
        <mat-option *ngIf="noWords" style="font-style:oblique; font-size: 18px;" [disabled]=true>No results</mat-option>

    </mat-autocomplete>


</div>