<div class="flexContainer">

    <button class="searchButton"><mat-icon [ngClass]="{'noWordsClass':noWords}" class="searchIcon" (click)="submit()" aria-hidden="false" aria-label="Example home icon">search</mat-icon></button>
    <input [ngClass]="{'noWordsClass':noWords}" type="text" [formControl]="control" class="browseInput" (keydown.enter)="submit()" placeholder="Search free high-resolution photos" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" class="autocomplateClass">

        <mat-option show (click)="submit(word)" *ngFor="let word of filteredWords | async" [value]="word">
            {{word}}
        </mat-option>

    </mat-autocomplete>

</div>