.profile {
    width: 32px;
    display: inline-block;
    img {
        border-radius: 100%;
        display: inline-block;
    }
}

.userInfo {
    display: inline-flex;
}

.userData {
    display: inline-block;
    font-size: 11px;
    line-height: 1.2;
    span {
        font-size: 15px;
    }
}

a {
    color: black;
    text-decoration: none;
    border: none;
     :hover {
        text-decoration: none;
    }
}

.fullImage {
    max-height: 80vh;
}
